
%btn {
    display: inline-block;
    border-radius: 4px;
    padding: 8px 20px;
    margin: 3px;
    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
    @extend %btn;
    @include set-background(darken($primary-color, 10%));
}

.btn-secondary { 
    @extend %btn;
    color: $btn-font-color;
    @include set-background($btn-color);
    font-weight: bold;
    &:hover {
            background-color: $hover-link-color;
            color: $btn-font-color;
        }
 }



